
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
background-size: cover;
background-repeat: no-repeat;
}

.test{
  height: 80vh;
}

.nav-container{
  display:flex;
  justify-content:space-around;
  align-items: center;
  min-height:8vh;
  font-family: 'Poppins', sans-serif;
  background-color: #2f3946;

}

.navbar{
  display: flex;

}
.logo{
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 22px;
}
.navbar{
display: flex;
justify-content: space-around;
width: 30%;
}

.navbar a{
  text-decoration: none;
color:#ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
}
.navbar a:hover{
color:#ffffff; 
border-bottom: 2px solid #ffffff; 
font-size: 20px;
transition:1s;
}


.navbar li{
  list-style: none;

}

.burger{
  color: #ffffff;
  display: none;
}
svg{
  width: 2vw;
  background-color:  #3d495a;
}
.footerContainer{
background-color:  #2f3946; 
height:20vh;
position: relative;
bottom: 0;
}
.footerList{
display: flex;
justify-content: center;
gap: 5vh;

}
.footerList li{
  list-style: none;
  padding-top: 3vh;
}
svg:hover{
  transform:rotate(360deg);
  transition: 2s;
  
}
 
.mainContainer{
  width: 50vw;
  height: 25vh;
  margin: auto auto;
}
.caseWraper{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: 
  "main main1"
  "main main2"
  ;
  height:25vh;
margin: auto auto;
margin-top: 5vh;
}

.showCaseOne{
  grid-area:main;
  background-image:url("/images/homepage/img1.png");

  animation-name:showcase;
  animation-duration: 8s;
  animation-iteration-count: infinite;

}

@keyframes showcase{
  25%{  background-image:url("/images/homepage/img5.png");

  }
  50%{  background-image:url("/images/homepage/img4.png");

  }
  75%{  background-image:url("/images/homepage/img1.png");

  }
  100%{  background-image:url("/images/homepage/img5.png");

  }

}
.showCaseTwo{
  grid-area:main1;
  background-image:url("/images/homepage/img2.jpg");


}
.showCaseThree{
  grid-area:main2;
  background-image:url("/images/homepage/img3.png");

}
.youtubeContainer{
  height: 32vh;
  margin-top: 20vh;
}

.youtube{
  display: grid;
  grid-template-columns:1fr 1fr;
  width:50vw;
  height: 32vh;
margin: auto auto;
grid-template-areas: 
"card video"
;
}

.video{
  grid-area: video;
}
.card{
  grid-area:card;
  text-align:start;
  font-size:20px;
}

.middelImges{
  height:20vh;
  margin-top: 20vh;
}
.middleContainer{
  background-color: #2f3946;
  height: 20vh;
  width:90vw;
  margin: auto auto;
  display: flex;
  justify-content: center;
gap: 20px;
}
.middleContainer img{
width:300px;

}
article{
  text-align: start;
  line-height:5vh;
}
@media screen and (max-width:958px) {
  
  .navbar{
    width: 40%;
    }
    .logo{
      font-size: 15px;
    }


}
@media screen and (max-width:768px) {
body{
  overflow-x: hidden;
}
  .navbar{
position:fixed;
right: 0;
top: 8vh;
height:40vh;
background-color:#2f3946;
display: flex;
flex-direction: column;
justify-content:start;
align-items: center;
gap:20px;
width: 40%;
transform: translateX(100%);
transition: transform 2s;
    } 
 
  
.navbar a{
color: #ffffff;
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 8px;
}

    .burger{
      display:block;
      cursor: pointer;
    }

   svg{
  width: 4vw;
}

  .footerCopy div{
    width:15vw;
    font-size: 10px;
  }
  .caseWraper{
    display: grid;
    grid-template-areas: 
    "main main"
    "main1 main2"
    ;
    height:30vh;
  margin: auto auto;
  margin-top: 5vh;
  }


  .youtubeContainer{
    height: 32vh;
    margin-top: 15vh;
    
  }
  .video{
    height: 25vh;
    width: 50vw;
  }
  .card{
    font-size:10px;
  }
  article{
    line-height: 2vh;
  }
  .youtube{
  grid-template-areas: 
  "video"
  "card"
  ;
  }
  
.middelImges{
  height:20vh;
  margin-top: 20vh;
}
.middleContainer{
  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.middleContainer img{
width:250px;
margin: 0px auto;

}
.navbar-active{
  transform: translateX(0%);
}


@keyframes slid_li{
  from{transform: translateX(100%);
    opacity: 0;
  }
  to{transform: translateX(0%);
    opacity: 1;
  }
}


